@model GetPostDto
@{
    var userCommentLikes = ViewBag.UserLikedComments as ICollection<Models.Entities.CommentLike>;
}

<div class="border-top pt-3 hide-comments" style="display: none;" data-item-id="@Model.ID">
    <div class="row bootstrap snippets">
        <div class="col-md-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-body" style="overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none; ">
                        <ul class="media-list comments-list">
                            <li class="media comment-form">
                                <a href="#" class="pull-left">
                                    <img src="@Model.User.ProfilePictureUrl" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    @using (Html.BeginForm("SendComment", "Home", FormMethod.Post)){
                                        <input type="hidden" name="PostID" value=@Model.ID />
                                        <input type="hidden" name="CommunityID" value="@Model.CommunityID" />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control comment-input" name="Content"
                                                        placeholder="Bir Yorum Yazın...">
                                                    <div class="input-group-btn">
                                                        <button type="submit"
                                                            class="btn comment-form-btn comment-form-btn"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="Gönder"><i
                                                                class='bx bx-send'></i></button>
                                                        <button type="button" class="btn comment-form-btn"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="Emoji Ekle"><i
                                                                class='bx bxs-smiley-happy'></i></button>
                                                        <button type="button"
                                                            class="btn comment-form-btn comment-form-btn"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="Fotoğraf ekle"><i class='bx bx-camera'></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </li>
                            @foreach (var item in Model.Comments)
                            {
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src=@item.User.ProfilePictureUrl alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <strong class="text-gray-dark"><a href="#" class="fs-8">@item.User.FirstName @item.User.LastName</a></strong>
                                            <a href="#"><i class='bx bx-dots-horizontal-rounded'></i></a>
                                        </div>
                                        <span class="d-block comment-created-time">@item.SentAt.ToString("dd/MM/yyyy hh:mm")</span>
                                        <p class="fs-8 pt-2">
                                            @item.Content
                                        </p>
                                        <div class="commentLR">
                                            @{
                                                if(userCommentLikes != null)
                                                {
                                                    var isLiked = userCommentLikes.Where(cl => cl.CommentID == item.ID).FirstOrDefault();
                                                    if(isLiked != null)
                                                    {
                                                        <button type="button" class="comment-like-button btn btn-link fs-8" data-comment-id="@item.ID" style="color: rgb(2, 132, 254);">Beğen</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="comment-like-button btn btn-link fs-8" data-comment-id="@item.ID" style="color: gray;">Beğen</button>
                                                    }
                                                
                                                }
                                            }
                                            <button type="button" class="btn btn-link fs-8">Yanıt Ver</button>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>